.Heading {
    color: var(--color-gray-900);
}

h1.Heading {
    font-size: 26px;
    font-weight: 500;
    line-height: 35px;
    letter-spacing: 0;
}
h2.Heading {
    font-size: 22px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0;
}
h3.Heading {
    font-size: 20px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0%;
}